---
layout: default
---

<div class="page-blog">

    <h1 class="site-page__title">
        Blog
    </h1>

    <ul class="page-blog__post-list">
        {% for post in site.categories.blog %}
        <li class="page-blog__post-item">
            <span class="page-blog__post-date">
                {{ post.date | date: "%Y-%m-%d" }}
            </span>

            <h2 class="page-blog__post-title">
                <a class="post-item__link" href="{{ post.url | prepend: site.baseurl }}">
                    {{ post.title }}
                </a>
            </h2>

            <p class="page-blog__post-excerpt">
                {{ post.excerpt | strip_html }}

                {% for tag in post.tags %}
                <span class="page-blog__post-tag">
                    <a href="/tagy#{{ tag | cgi_escape }}">
                        #{{ tag }}
                    </a>
                </span>
                {% endfor %}
            </p>
        </li>
        {% if forloop.last == false %}
        {% include site-separator.html type="list" align="left" %}
        {% endif %}
        
        {% endfor %}
    </ul>

    <p class="rss-subscribe">
        Subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a>
    </p>

</div>
