<div class="site-post_gdpr-note">
    <p>
        Prosím, ber na vědomí, že společnost Heureka Shopping s.r.o., IČO: 02387727, do které se prostřednictvím zasláného
        životopisu hlásíš na tuto pozici, <strong>si ukládá některé tvoje osobní údaje</strong>, aby se s tebou její
        představitelé mohli spojit po dobu výběrového řízení a posoudit tak, jestli si budeme vzájemně rozumět.
    </p>
    
    <p>
        Pokud by pro tebe výběrové řízení nebylo tentokrát úspěšné, rádi s tebou zůstaneme v kontaktu i do budoucna.
        K uchování osobních údajů po skončení výběrového řízení potřebujeme tvůj souhlas, který nám můžeš, ale nemusíš dát,
        a to vyplněním a podepsáním formuláře, který od nás obdržíš v průběhu výběrového řízení.
    </p>
    
    <p>
        <strong>O tom, jak jenakládáno s tvými osobními údaji, si pro jistotu přečti <a href="https://www.heurekashopping.cz/kariera/podrobne-informace-o-zpracovani-osobnich-udaju-pro-uchazece-o-zamestnani-v-heurece" target="_blank">ZDE</a>.</strong>
    </p>
</div>
