/**
 * Basic styling
 */
body {
    font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
    color: $text-color;
    background-color: $background-color;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
%vertical-rhythm {
    margin-top: $spacing-unit;

    &:first-child {
        margin-top: 0;
    }
}

/**
 * Headline wrappers
 */
h1, h2 {
    &:before, &:after {
        color: #e0e0e0;
    }
}

h1 {
    &:before {
        content: '<h1>';
    }

    &:after {
        content: '</h1>';
    }
}

h2 {
    &:before {
        content: '<h2>';
    }

    &:after {
        content: '</h2>';
    }
}

/**
 * Images
 */
img {
    vertical-align: middle;
}

/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}

/**
 * Lists
 */
ul, ol {
    margin-left: 1em;
}

ol {
    list-style-type: decimal;
}

ol li {
    display: list-item;
    margin-left: 1em;
}

/**
 * Links
 */
a {
    color: $brand-color;
    text-decoration: underline;

    &:visited {
        color: darken($brand-color, 15%);
    }

    &:hover {
        color: $text-color;
        text-decoration: none;
    }
}

/**
 * Blockquotes
 */
blockquote {
    color: $grey-color;
    border-left: 4px solid $grey-color-light;
    padding-left: $spacing-unit / 2;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}

/**
 * Code formatting
 */
pre {
    overflow-x: auto;
    line-height: 1.25;
    font-size: .875em;
}

code {
    font-family: monospace;
    font-size: 1.25em;
}

/**
 * Wrapper
 */
.wrapper {
    max-width: calc(#{$content-width} - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;

    @include media-query($on-laptop) {
        max-width: calc(#{$content-width} - (#{$spacing-unit}));
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}

/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}

/**
 * Common
 */
.is-hidden-mobile {
    @include mq-mobile-only() {
        display: none;
    }
}

.is-hidden-desktop {
    @include mq-desktop-only() {
        display: none;
    }
}

/**
 * Helpers
 */
.is-cleared-left-mobile {
    @include mq-mobile-only() {
        clear: left;
    }
}
