/**
 * Form - email
 */
.form-email {
    margin-top: 2em;
    text-align: center;
}

.form-email__email {
    border: 1px solid #808080;
    border-radius: 0.25em;
    margin: auto;
    margin-bottom: 0.5em;
    padding: 1em 1em;
    width: 40%;

    @include mq-mobile-only {
        width: 80%;
    }

    &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
        color:    #c0c0c0;
    }
    &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color:    #c0c0c0;
        opacity:  1;
    }
    &::-moz-placeholder { /* Mozilla Firefox 19+ */
        color:    #c0c0c0;
        opacity:  1;
    }
    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
        color:    #c0c0c0;
    }
}

.form-email__submit {
    border-radius: 0.25em;
    margin: auto;
    padding: 1em 5em;
    cursor: pointer;
    color: #ffffff;
    background-color: #555555;

    @include mq-mobile-only {
        width: 80%;
    }
}
