/**
 * Site page - academy
 */
.page-academy {
    text-align: center;
}

.page-academy__info {

}

.page-academy__how-to {
    margin: auto;
    width: 70%;

    @include mq-mobile-only {
        width: 100%;
    }
}

.page-academy__item {
    overflow: hidden;
    justify-content: center;
    width: 100%;
}

.page-academy__icon {
    float: left;
    padding-top: 0.5em;
    text-align: left;
    font-size: 0.6125em;
    width: 14em;
}

.page-academy__code {
    margin: 0;
}

.page-academy__code--is-doctype {
    color: #000000;
}

.page-academy__code--is-dom {
    color: #30a9d4;
}

.page-academy__description {
    float: left;
    text-align: left;
    padding-left: 1em;
    color: #808080;
    width: calc(100% - 14em);
}

.page-academy__title {
    margin: 0;
    font-weight: bold;
    color: #000000;
}
