/**
 * Site page - tags
 */
.page-tags {
    //text-align: center;
}

.page-tags__title {
    font-size: 1.25em;
    margin: 0;
}

.page-tags__post-title {
}

.page-tags__post-date {
    color: #a0a0a0;
}
