/**
 * Component - <hr>
 */
.c-separator {
    text-align: center;
    color: #e0e0e0;
}

.c-separator__hr {
    padding: 4em 0;
}

.c-separator__hr--condensed {
    padding: 0;
}


.c-separator__hr--list {
    padding: 1em 0;
}

.u-separator--is-left {
    text-align: left;
}
