/**
 * Site post
 */
.site-post {
    overflow: hidden;

    /** Disable headline wrappers */
    h1, h2, h3, h4, h5, h6 {
        &:before,
        &:after {
            content: '';
        }
    }
}

.site-post__wrapper {
    float: left;
    width: 80%;

    * + * {
        margin-top: $base-line-height * 1rem;
    }

    @include mq-mobile-only {
        width: 100%;
    }
}

.site-post__header {

    * + * {
        margin-top: $base-line-height * .5rem;
    }
}

.site-post__meta {
    color: $grey-color;
}

.site-post__content {

    h2, h3, h4, h5, h6 {
        margin-top: $base-line-height * 2rem;
        line-height: $base-line-height * 1rem;
        font-weight: bold;
    }

    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1.25rem;
    }

    h4 {
        font-size: 1.125rem;
    }

    h5 {
        font-size: 1rem;
    }
    
    li {
        display: list-item;
        margin-left: 1em;
        margin-top: $base-line-height * .5rem;
    }
    
    ul li {
        list-style-type: disc;
    }
    
    ol li {
        list-style-type: decimal;
    }
}

.site-post__author-name {
    color: $grey-color;
}

.site-post__author-bio {
    display: flex;
    align-items: center;
    font-size: 0.75em;
    border-top: 2px solid $grey-color-light;
    border-bottom: 2px solid $grey-color-light;
    padding-top: .5rem;
    padding-bottom: .5rem;
    margin: 0;
}

.site-post__author-avatar {
    margin-right: .5rem;
}

.site-post__discussion {

}

.site-post__tagcloud {
    float: left;
    padding-left: 2em;
    width: 20%;

    a {
        text-decoration: none;

        &:hover,
        &:focus {
            text-decoration: underline;
        }
    }

    @include mq-mobile-only {
        padding: 0;
        width: 100%;
    }
}

.site-post__tags {
    margin-top: $base-line-height * .5rem;
    list-style: none;
}

.site-post_gdpr-note {
    font-size: 0.75em;
}
