/**
 * Site page
 */
.site-page {

}

.site-page__title {
    font-size: 2rem;
    font-weight: bold;
}

.site-page__subtitle {
    font-size: 1.5rem;
    font-weight: bold;
}

.site-page__description {
    margin-bottom: 0;
    color: #808080;
}
