/**
 * Site menu - title, nav
 */
.site-menu {
    padding: 2em 0;
    border-bottom: 1px solid $grey-color-light;
    background: #ffffff;
    position: relative;
    z-index: 10;

    @include mq-mobile-only() {
        padding: 1em 0 0.5em 0;
    }

    //body.has-menu-fixed & {
    &.is-fixed {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
    }
}

body.has-menu-fixed {
    //padding-top: 89px;
    //padding-top: 51px;
}

.site-title {
    float: left;

    &:hover,
    &.is-active {
        text-decoration: none;
    }
}

.site-title__bracket {
    color: orange;
}

.site-title__tagname {
    font-weight: bold;
    color: #313131;
}

.site-title__attribute {
    font-weight: bold;
    color: #808080;
}

.site-title__selector {
    display: none;
    font-weight: bold;
    color: #60a000;

    .site-title:hover &,
    .site-title:focus & {
        display: inline;
    }
}

.site-nav {
    float: right;
}

.site-nav__icon {
    display: block;
    float: right;

    @include mq-desktop-only() {
        display: none;
    }
}

.site-nav__svg {
    width: 1.5em;
}

.site-nav__trigger {
    margin: 0;

    @include mq-mobile-only() {
        & {
            display: none;
            float: right;
            clear: both;
            margin-top: 1em;
        }

        .site-nav:hover & {
            display: block;
            padding-bottom: 0.5rem;
        }
    }
}

.site-nav__item {
    list-style: none;
    text-align: right;

    @include mq-desktop-only {
        display: inline;
    }
}

.site-nav__link {
    padding: 0 1em;
    color: #313131 !important;

    @include mq-mobile-only() {
        display: block;
        padding: 0;
        line-height: 2.5em;
    }

    &:hover,
    &.is-active {
        text-decoration: underline;
    }
}
