/**
 * Site content
 */
.site-content {
    position: relative;
    top: -$site-content-slip-amount;
    margin-bottom: -$site-content-slip-amount;
    padding-top: $site-content-slip-amount + $site-content-padding;
    background: $background-color;
}
