/**
 * Site post
 */
.site-post {
    overflow: hidden;

    /** Disable headline wrappers */
    h1, h2 {
        &:before,
        &:after {
            content: '';
        }
    }
}

.site-post__wrapper {
    float: left;
    width: 80%;

    @include mq-mobile-only {
        width: 100%;
    }
}

.site-post__discussion {

}

.site-post__tagcloud {
    float: left;
    padding: 0 1em;
    box-sizing: border-box;
    width: 20%;

    @include mq-mobile-only {
        padding: 0;
        width: 100%;
    }
}

.site-post__tags {
    list-style: none;
}
