// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size: 1em;
$base-font-weight: 400;
$small-font-size: $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit: 2rem;

$text-color: #111;
$background-color: #ffffff;
$background-color-header: #313131;
$brand-color: #2a7ae2;

$grey-color: #828282;
$grey-color-light: lighten($grey-color, 40%);

$site-content-padding: 2em;
$site-content-slip-amount: 3em; // prevents menu relative/fixed transition flickering (black/white) by slipping a bit of content under it

// Width of the content area
$content-width: 60em;
$on-laptop: 60em;

$width-mobile-max: 48em; // 768 px
$width-desktop-min: 769px; // calc(48em + 1px) - not supported in media queries
