---
layout: page
title: Tagy
permalink: /tagy/
hiddenFromTopMenu: 'yes'
---


<article class="site-page page-tags">

    {% comment %}
    Get the tag name for every tag on the site and set them to the `site_tags` variable.
    {% endcomment %}
    {% capture site_tags %}{% for tag in site.tags %}{{ tag | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}

    {% comment %}
    `tag_words` is a sorted array of the tag names.
    {% endcomment %}
    {% assign tag_words = site_tags | split:',' | sort %}

    <div>
        {% for item in (0..site.tags.size) %}
        {% unless forloop.last %}
        {% capture this_word %}{{ tag_words[item] }}{% endcapture %}

        <h2 id="{{ this_word | cgi_escape }}" class="page-tags__title">
            #{{ this_word }}
        </h2>

        <ul>
            {% for post in site.tags[this_word] %}{% if post.title != null %}
            <li>
            <span class="page-tags__post-date">
                {{ post.date | date: "%Y-%m-%d" }}
            </span>
            <span class="page-tags__post-title">
                <a href="{{ post.url }}">{{ post.title }}</a>
            </span>
            </li>
            {% endif %}
            {% endfor %}
            {% endunless %}
        </ul>
        {% endfor %}
    </div>

</article>
