---
layout: page
title: Školka
permalink: /skolka/
---

<article class="site-page page-academy">

    <div class="page-academy__info">
        <h1 class="site-page__title">
            Školka
        </h1>
        <p class="site-page__description">
            Školka je tu pro ty z vás,
            kteří ještě studují nebo
            nemohou pít alkohol a chtějí se naučit trochu kódu.
            Navíc pokud zvládnete vyřešit zadání,
            budete mít velkou šanci,
            že zvládnete testovací den a
            budete se s námi podílet na vývoji Heureky.
        </p>
    </div>

    {% include site-hr.html %}

    <div class="page-academy__how-to">
        <div class="page-academy__item">
            <div class="page-academy__icon">
                <p class="page-academy__code page-academy__code--is-doctype">
                    &lt;!DOCTYPE HTML&gt;
                </p>
                <p class="page-academy__code page-academy__code--is-dom">
                    &lt;html&gt;
                </p>
                <p class="page-academy__code page-academy__code--is-dom">
                    &lt;/html&gt;
                </p>
            </div>
            <div class="page-academy__description">
                <h3 class="page-academy__title">
                    Zdarma kurz při škole
                </h3>
                <!--TODO-->
            </div>
        </div>

        {% include site-hr.html type="condensed" align="left" %}

        <div class="page-academy__item">
            <div class="page-academy__icon">
                <p class="page-academy__code page-academy__code--is-doctype">
                    &lt;!DOCTYPE HTML&gt;
                </p>
                <p class="page-academy__code page-academy__code--is-dom">
                    &lt;html&gt;
                </p>
                <p class="page-academy__code page-academy__code--is-dom">
                    &lt;body&gt;
                </p>
                <p class="page-academy__code page-academy__code--is-dom">
                    &lt;/html&gt;
                </p>
            </div>
            <div class="page-academy__description">
                <h3 class="page-academy__title">
                    Naučíš se kódovat
                </h3>
                <!--TODO-->
            </div>
        </div>

        {% include site-hr.html type="condensed" align="left" %}

        <div class="page-academy__item">
            <div class="page-academy__icon">
                <p class="page-academy__code page-academy__code--is-doctype">
                    &lt;!DOCTYPE HTML&gt;
                </p>
                <p class="page-academy__code page-academy__code--is-dom">
                    &lt;html&gt;
                </p>
                <p class="page-academy__code page-academy__code--is-dom">
                    &lt;head&gt;
                </p>
                <p class="page-academy__code page-academy__code--is-dom">
                    &lt;body&gt;
                </p>
                <p class="page-academy__code page-academy__code--is-dom">
                    &lt;/html&gt;
                </p>
            </div>
            <div class="page-academy__description">
                <h3 class="page-academy__title">
                    Zvládneš testovací den a můžeš pracovat s námi
                </h3>
                <!--TODO-->
            </div>
        </div>
    </div>

    {% include site-hr.html %}

    <div>
        <h2 class="site-page__title">
            Přihlaš se do naší školky a naučíme tě správnému kódu
        </h2>
        <p class="site-page__description">
            Pošli nám svůj email a my ti pošleme podrobné informace o naší
            <a href="/skolka/">školce</a>.
        </p>
        {% include form-email.html token=site.email_token_academy source="academy" %}
    </div>

</article>
