---
layout: page
title: Školka
permalink: /skolka/
---

<article class="site-page page-academy">

    <div class="page-academy__info">
        <h1 class="site-page__title">
            Nauč se kód
        </h1>
        <p class="site-page__description">
            Kódování je sexy.
            Nauč se číst tajný jazyk, z kterého se skládá Matrix.
            Pro zájemce nabízíme náš kurz a možnost zkusit si testovací den v Heurece.
        </p>
    </div>

    {% include site-separator.html %}

    <div class="page-academy__how-to">
        <div class="page-academy__item">
            <div class="page-academy__icon">
                <p class="page-academy__code page-academy__code--is-doctype">
                    &lt;!DOCTYPE HTML&gt;
                </p>
                <p class="page-academy__code page-academy__code--is-dom">
                    &lt;html&gt;
                </p>
                <p class="page-academy__code page-academy__code--is-dom">
                    &lt;/html&gt;
                </p>
            </div>
            <div class="page-academy__description">
                <h3 class="page-academy__title">
                    Zdarma kurz při škole
                </h3>
            </div>
        </div>

        {% include site-separator.html type="condensed" align="left" %}

        <div class="page-academy__item">
            <div class="page-academy__icon">
                <p class="page-academy__code page-academy__code--is-doctype">
                    &lt;!DOCTYPE HTML&gt;
                </p>
                <p class="page-academy__code page-academy__code--is-dom">
                    &lt;html&gt;
                </p>
                <p class="page-academy__code page-academy__code--is-dom">
                    &lt;body&gt;
                </p>
                <p class="page-academy__code page-academy__code--is-dom">
                    &lt;/html&gt;
                </p>
            </div>
            <div class="page-academy__description">
                <h3 class="page-academy__title">
                    Naučíš se kódovat
                </h3>
            </div>
        </div>

        {% include site-separator.html type="condensed" align="left" %}

        <div class="page-academy__item">
            <div class="page-academy__icon">
                <p class="page-academy__code page-academy__code--is-doctype">
                    &lt;!DOCTYPE HTML&gt;
                </p>
                <p class="page-academy__code page-academy__code--is-dom">
                    &lt;html&gt;
                </p>
                <p class="page-academy__code page-academy__code--is-dom">
                    &lt;head&gt;
                </p>
                <p class="page-academy__code page-academy__code--is-dom">
                    &lt;body&gt;
                </p>
                <p class="page-academy__code page-academy__code--is-dom">
                    &lt;/html&gt;
                </p>
            </div>
            <div class="page-academy__description">
                <h3 class="page-academy__title">
                    Zvládneš testovací den a můžeš pracovat s námi
                </h3>
            </div>
        </div>
    </div>

    {% include site-separator.html %}

    <div>
        <h2 class="site-page__title">
            Přihlas se. Naučíme tě tajemný kód
        </h2>
        <p class="site-page__description">
            Prozraď nám svůj e-mail, pošleme ti všechny potřebné indicie:
        </p>
        {% include form-email.html token=site.email_token_academy source="academy" %}
    </div>

</article>
