---
layout: default
---
{% assign author = site.data.authors[page.author] %}

<article class="site-post" itemscope itemtype="http://schema.org/BlogPosting">

    <div class="site-post__wrapper">
        <header class="site-post__header">
            <h1 class="site-page__title" itemprop="name headline">
                {{ page.title }}
            </h1>

            <p class="site-post__meta">
                <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
                    {{ page.date | date: "%Y-%m-%d" }}
                </time>
            </p>
        </header>

        <div class="site-post__content" itemprop="articleBody">
            {{ content }}
        </div>

        <div itemprop="author" itemscope itemtype="http://schema.org/Person">
            <span itemprop="name" class="site-post__author-name">{{ author.name }}</span>
            {% if author.avatar and author.bio %}
            <div class="site-post__author-bio">
                <img class="site-post__author-avatar" src="../assets/author-avatars/{{ author.avatar }}" alt="{{ author.name }}" width="64" height="64">
                {{ author.bio }}
            </div>
            {% endif %}
        </div>

        <div class="site-post__discussion"></div>
    </div>

    <aside class="site-post__tagcloud">
        <h2 class="site-page__subtitle">
            Tagy
        </h2>
        <ul class="site-post__tags">
            {% for tag in page.tags %}
            <li class="site-post__tag">
                <a href="/tagy#{{ tag | cgi_escape }}">
                    #{{ tag }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </aside>

</article>
