---
layout: page
title: Kdo jsme
permalink: /kdo-jsme/
---

<article class="site-page page-about-us">

    <div class="page-about-us__info">
        <h1 class="site-page__title">
            Kdo jsme
        </h1>
        <p class="site-page__description">
        </p>
    </div>

    {% include site-separator.html %}

    <div class="page-about-us__team-wrapper">
        <h2 class="site-page__title">
            Vývojářské teamy v Heurece
        </h2>
        <p class="site-page__description"></p>

        <div class="page-about-us__team-list">
            {% for group in site.data.team %}
            {% assign loopindex = forloop.index | modulo: 2 %}

            <div class="page-about-us__team-group {% if loopindex == 1 %} is-cleared-left-mobile {% endif %}">
                <div class="page-about-us__team-circle" style="background-color: {{ group.colorCode }};">
                    {{ group.colorCode }}
                </div>

                <ul class="page-about-us__team-column">
                    {% for member in group.members %}
                    <li>
                        {{ member }}
                    </li>
                    {% endfor %}
                </ul>
            </div>

            {% endfor %}
        </div>
    </div>

    {% include site-separator.html %}


    <div>
        <h2 class="site-page__title">
            Pracuj s námi. Prozraď nám svůj e-mail:
        </h2>
        <p class="site-page__description">
        </p>
        {% include form-email.html token=site.email_token_about_us source="about-us" %}
    </div>

</article>
