---
layout: page
title: Volné židle
permalink: /volne-zidle/
---

<article class="site-page page-career">

    <div class="info">
        <h1 class="site-page__title">
            Volné židle
        </h1>
        <p class="site-page__description">
            Chceš s námi křičet „Heuréka“?
        </p>
    </div>

    {% include site-hr.html %}

    <div class="page-career__list">
        {% for job in site.data.career %}
        <div class="page-career__item">
            <div class="page-career__title">
                {{ job.title }}
            </div>
            <div class="page-career__type">
                {{ job.type }}
            </div>
            <div class="page-career__place">
                {{ job.place }}
            </div>
            <div class="page-career__link">
                <a href="{{ job.link }}" target="_blank">
                    Chci vědět víc
                </a>
            </div>
        </div>
        {% if forloop.last == false %}
        {% include site-hr.html type="condensed" %}
        {% endif %}

        {% endfor %}
    </div>

    {% include site-hr.html %}

    <div class="page-career__perks">
        <h2 class="site-page__title">
            Co nabízíme?
        </h2>
        <p class="site-page__description">
        <ul>
            {% for perk in site.data.perks %}
            <li class="page-career__perk">
               #{{ perk }}
            </li>
            {% endfor %}
        </ul>

        </p>
    </div>

    {% include site-hr.html %}

    <div>
        <h2 class="site-page__title">
            Pošli nám svůj email a dáme ti vědět víc
        </h2>
        <p class="site-page__description"></p>
        {% include form-email.html token=site.email_token_career source="academy" %}
    </div>

</article>
